# --- Datos Sensibles y Bases de Datos (NO SUBIR) ---
alumnos.xlsx
inventario.db
*.xlsx
*.csv
*.db
*.db3
*.sqlite
*.sqlite3

# --- Archivos Generados por PyInstaller y Python ---
build/
dist/
*.spec
__pycache__/
venv/